* {
    --main-bg: #121212;
	--secondary-bg: #1c1c1c;
	--theme-color: #b19d7c;
	--small-text-color: #414141;
	--highlight-color: #ffffff;
}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: var(--theme-color);
    transition: all 400ms ease-in-out;
}

::-webkit-scrollbar-corner {
    background: var(--secondary-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-color);
}

::-webkit-scrollbar-thumb:active {
    background: var(--theme-color);
}
