body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background: rgba(120, 120, 120, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #b19d7c44;
  transition: all 400ms ease-in-out;
}

::-webkit-scrollbar-corner {
  background: #b19d7c22;
}

::-webkit-scrollbar-thumb:hover {
  background: #b19d7c77;
}

::-webkit-scrollbar-thumb:active {
  background: #b19d7cee;
}